In [5]:
import pandas as pd
# чтение, извлечение файла из формата csv, преобразование в формат DataFrame
student_data = pd.read_csv('data/students_performance.csv', sep=',')
# проверка, вывод первых пяти строк на экран
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
# Данные о скольких студентах содержатся в таблице?
student_data.shape

(1000, 8)

In [9]:
# Каков балл по письму у студента под индексом 155?
student_data.loc[155, 'writing score']

88

In [12]:
Сколько суммарно пропущенных значений в таблице?
student_data.describe()

Object `таблице` not found.

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [13]:
student_data.describe(include = ['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [14]:
student_data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [15]:
# Сколько столбцов в таблице имеет тип данных object?
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [16]:
# Каков у студентов средний балл по математике?
student_data['math score'].mean()

66.089

In [17]:
# Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [23]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [35]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0].shape[0]

1

In [30]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
student_data[student_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [31]:
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [41]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
precent_student = student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]
display(round(precent_student * 100 / 1000))

12

In [43]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается 
# от среднего балла по письму у студентов в расовой группе C?
groupA = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
groupC = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].median()
display(groupA)
display(groupC)
display(abs(groupA - groupC))

62.0

68.0

6.0